@model UserViewModel
<span>@Model.UserFirstName @Model.UserLastName</span>
<img width="50" src="@Model.UserProfilePicture" alt="">
<span class="status @(Model.UserIsOnline ? "f-online" : "f-off")"></span>