@model HomeViewModel

<ul class="chat-users">
	@foreach (var friend in Model.OnlineFriendsDtos)
	{
		<li>
			<div class="author-thmb">
				<img width="50" height="50" src="@friend.Friend.UserProfilePicture" alt="">
				<span class="status f-online"></span>
			</div>
		</li>
	}
</ul>