@model ProfileViewModel
<section>
	<div class="feature-photo">
		<figure><img src=@Model.User.UserCoverPicture alt=""></figure>
		<div class="add-btn">
			<span>@Model.User.UserFollowerCount Arkadaş</span>			
		</div>
		<form class="edit-phto">
			<i class="fa fa-camera-retro"></i>
			<label class="fileContainer">
				Edit Cover Photo
				<input type="file" />
			</label>
		</form>
		<div class="container-fluid">
			<div class="row merged">
				<div class="col-lg-2 col-sm-3">
					<div class="user-avatar">
						<figure>
							<img src=@Model.User.UserProfilePicture alt="">
							<form class="edit-phto">
								<i class="fa fa-camera-retro"></i>
								<label class="fileContainer">
									Edit Display Photo
									<input type="file" />
								</label>
							</form>
						</figure>
					</div>
				</div>
				<div class="col-lg-10 col-sm-9">
					<div class="timeline-info">
						<ul>
							<li class="admin-name">
								<h5>@Model.User.UserFirstName @Model.User.UserLastName</h5>
								@* <span>Group Admin</span> *@
							</li>
							<li>
								<a class="active" asp-action="MyProfile"  asp-controller="Profile" title="" data-ripple="">time line</a>
								<a class="" asp-action="MyPhotos" asp-controller="Profile" title="" data-ripple="">Photos</a>
								<a class="" asp-action="MyVideos" asp-controller="Profile" title="" data-ripple="">Videos</a>
								<a class=""  asp-action="MyFriends"  asp-controller="Profile"v title="" data-ripple="">Friends</a>
								<a class="" href="timeline-groups.html" title="" data-ripple="">Groups</a>
								<a class="" asp-action="MyAbaut" asp-controller="Profile" title="" data-ripple="">about</a>
								<a class="" href="#" title="" data-ripple="">more</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- top area -->