<div class="widget stick-widget">
	<h4 class="widget-title">Kısayollar</h4>
	<ul class="naves">
		<li>
			<i class="ti-clipboard"></i>
			<a href="/Home" title="">Ana Sayfa</a>
		</li>
	@* 	<li>
			<i class="ti-mouse-alt"></i>
			<a href="inbox.html" title="">Gelen Kutusu</a>
		</li> *@
		<li>
			<i class="ti-user"></i>
			<a href="/Profile/MyProfile" title="">Profilim</a>
		</li>
		<li>
			<i class="ti-plus"></i>
			<a href="/Profile/MyFriends" title="">Arkadaşlarım</a>
		</li>
		<li>
			<i class="ti-image"></i>
			<a href="/Profile/MyPhotos" title="">Fotoğraflarım</a>
		</li>
		<li>
			<i class="ti-video-camera"></i>
			<a href="/Profile/MyVideos" title="">Videolarım</a>
		</li>
		<li>
			<i class="ti-comments-smiley"></i>
			<a href="/Message/MyMessages" title="">Mesajlarım
				<span id="notificationSpan" class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle" style="display:none;">
				</span>
			</a>
		</li>
		<li>
			<i class="ti-bell"></i>
			<a href="notifications.html" title="">Bildirimlerim</a>
		</li>
	@* 	<li>
			<i class="ti-share"></i>
			<a href="people-nearby.html" title="">People Nearby</a>
		</li>
		<li>
			<i class="fa fa-bar-chart-o"></i>
			<a href="insights.html" title="">insights</a>
		</li> *@
		@* <li>
			<i class="ti-power-off"></i>
			<a href="landing.html" title="">Logout</a>
		</li> *@
	</ul>
</div><!-- Shortcuts -->
