@model AccountViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Winku Social Network Toolkit</title>
    <link rel="icon" href="~/SocialUI/images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="~/SocialUI/css/main.min.css">
    <link rel="stylesheet" href="~/SocialUI/css/style.css">
    <link rel="stylesheet" href="~/SocialUI/css/color.css">
    <link rel="stylesheet" href="~/SocialUI/css/responsive.css">

</head>
<body>
    <!--<div class="se-pre-con"></div>-->
    <div class="theme-layout">
        <div class="container-fluid pdng0">
            <div class="row merged">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="land-featurearea">
                        <div class="land-meta">
                            <h1>Winku</h1>
                            <p>
                                Winku is free to use for as long as you want with two active projects.
                            </p>
                            <div class="friend-logo">
                                <span><img src="~/SocialUI/images/wink.png" alt=""></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="login-reg-bg">
                        <div class="log-reg-area sign">
                            <h2 class="log-title">Giriş Yap</h2>
                            <form asp-controller="Account" asp-action="Login" method="post" id="loginForm">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for=Email type="text" id="loginEmail" required="required" />
                                    <label class="control-label" for="input">Email</label><i class="mtrl-select"></i>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for=Password type="password" required="required" />
                                    <label class="control-label" for="input">Şifre</label><i class="mtrl-select"></i>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input asp-for=RememberMe type="checkbox" checked="checked" /><i class="check-box"></i>Beni Her Zaman Hatırla.
                                    </label>
                                </div>
                                <a href="#" class="forgot-pwd-link" onclick="showForgotPasswordForm()" style="color:#088dcd;  margin-left:50px;">Şifreni Mi Unuttun?</a>
                                <div class="submit-btns">
                                    <button class="mtr-btn" type="submit"><span>Giriş</span></button>
                                    <button class="mtr-btn signup" type="button" onclick="showRegisterForm()"><span>Kayıt</span></button>
                                </div>
                            </form>
                        </div>
                        <div class="log-reg-area reg">
                            <h2 class="log-title">Kayıt Ol</h2>
                            <form asp-controller="Account" asp-action="Register" method="post" id="registerForm">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <span class="text-danger" id="registerValid"></span>
                                <input asp-for=Gender type="hidden" />
                                <div class="form-group">
                                    <input asp-for=FirstName type="text" required="required" />
                                    <label class="control-label" for="input">Ad</label><i class="mtrl-select"></i>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for=LastName type="text" required="required" />
                                    <label class="control-label" for="input">Soyad</label><i class="mtrl-select"></i>
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for=UserName type="text" required="required" />
                                    <label class="control-label" for="input">Kullanıcı Adı</label><i class="mtrl-select"></i>
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for=Email id="registerEmail" type="text" required="required" />
                                    <label class="control-label" for="input">Email</label><i class="mtrl-select"></i>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for=Password type="password" required="required" id="registerPassword" />
                                    <label class="control-label" for="input">Şifre</label><i class="mtrl-select"></i>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for=ConfirmPassword type="password" required="required" id="registerComfirm" />
                                    <label class="control-label" for="input">Şifre Tekrar</label><i class="mtrl-select"></i>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-radio">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio" checked="checked" value="Erkek" /><i class="check-box"></i>Erkek
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio" value="Kadın" /><i class="check-box"></i>Kadın
                                        </label>
                                    </div>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" /><i class="check-box"></i>Şartları Kabul Ediyorum?
                                    </label>
                                </div>
                              
                                <a class="back-to-login-btn" type="button" onclick="backToLogin()" style="color:#088dcd; margin-left:50px;">Zaten Hesabım Var</a>
                                <div class="submit-btns">
                                    <button class="mtr-btn " type="submit"><span>Gönder</span></button>
                                </div>
                            </form>
                        </div>
                        <div class="log-reg-area forgot-pwd" style="display: none;">
                            <h2 class="log-title">Şifremi Unuttum</h2>
                            <form asp-controller="Account" asp-action="ResetPassword" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <span class="text-danger" id="resetValid"></span>
                                <div class="form-group">
                                    <input asp-for=Email type="text" required="required" id="resEmail" />
                                    <label class="control-label" for="input">Email</label><i class="mtrl-select"></i>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for=Password type="password" id="respaswd" />
                                    <label class="control-label" for="input">Şifre</label><i class="mtrl-select"></i>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for=ReqToken type="text" id="token" />
                                    <label class="control-label" for="input">Kod</label><i class="mtrl-select"></i>
                                    <span asp-validation-for="ReqToken" class="text-danger"></span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                      
                                    </label>
                                </div>
                                <a href="#" class="forgot-pwd-link" onclick="backToLogin()" style="color:#088dcd;  margin-left:120px;">Giriş Yap</a>
                                <div class="submit-btns">
                                    
                                    <button class="mtr-btn" type="button" onclick="takeCode()"><span>Kod Al</span></button>
                                    <button class="mtr-btn" type="submit"><span>Gönder</span></button>
                                </div>

                                <p>Kod almak için sadece eMail adresinizi girerek şifre yenileme kodunuzu alınız ardından yeni şifrenizi girerek gödere tıklayınız</p>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>

<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/SocialUI/js/main.min.js"></script>
<script src="~/SocialUI/js/script.js"></script>

<script>
    function showForgotPasswordForm() {
        $('.forgot-pwd').show();
        $('.sign').hide();
        $('.reg').hide();
    }

    function showRegisterForm() {
        $('.forgot-pwd').hide();
        $('.sign').hide();
        $('.reg').show();
    }

    function backToLogin() {
        $('.forgot-pwd').hide();
        $('.sign').show();
        $('.reg').hide();
    }






    //form submit edilmeden önce hangi radio butonun işaretli olduğu belirlenir ve Gender'a kayıt edilir
    $('form').submit(function (e) {
        var selectedValue = $('input[name="radio"]:checked').val();
        if (selectedValue === "Erkek") {
            $('input[name="Gender"]').val("Erkek");
        } else if (selectedValue === "Kadın") {
            $('input[name="Gender"]').val("Kadın");
        }
    });

    $(document).ready(function () {
        $('#registerForm').submit(function (e) {
            e.preventDefault(); // Form submit işlemini engelle

            var formData = {
                FirstName: $('input[name="FirstName"]').val(),
                LastName: $('input[name="LastName"]').val(),
                UserName: $('input[name="UserName"]').val(),
                Email: $('#registerEmail').val(),
                Password: $('#registerPassword').val(),
                ConfirmPassword: $('#registerComfirm').val(),
                Gender: $('input[name="radio"]:checked').val()
            };

            $.ajax({
                url: 'https://localhost:7091/api/Accounts/Register',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    $('.login-reg-bg').removeClass('show');
                    return false;
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.responseText;
                    $('#registerValid').text(errorMessage);
                    console.log(errorMessage);
                }
            });
        });
    });

    function takeCode() {
       

       var email= $('#resEmail').val();

        $.ajax({
            url: 'https://localhost:7091/api/Accounts/ResetPasswordCode',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(email),
            success: function (response) {
                if (response == 'Not Found') {
                    $('#resetValid').text('Kullanıcı Bulunamadı');
                }
                else{
                    $('#resetValid').text('')
                    $('#token').val(response);
                }

             
               
            },
            error: function (xhr, status, error) {
               
               
                console.log(error);
            }
        });
    }

</script>

                            @{
                                await Html.RenderPartialAsync("_ValidationScriptsPartial");
                            }

