@model List<NotificationViewModel>
@{
    ViewData["Title"] = "MyNotifications";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!--Profile Top Nav-->
<vc:profile-nav></vc:profile-nav>
<!--Profile Top Nav-->

<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <!--ShortCuts-->
                                <partial name="ShortCutsPartialView" />
                                <!--ShortCuts-->
                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-6">
                            <div class="central-meta">
                                <div class="editing-interest">
                                    <h5 class="f-title"><i class="ti-bell"></i>Tüm Bildirimler</h5>
                                    <div class="notification-box" style="height:700px;">
                                        <ul>
                                            @foreach (var notification in Model)
                                            {
                                                if (notification.NotificationTitle == "Arkadaşlık İsteği")
                                                {


                                                    <li>
                                                        <a asp-action="OtherProfile" asp-controller="Profile" asp-route-id="@notification.NotificationSenderUser.UserId">
                                                            <figure><img src=@notification.NotificationSenderUser.UserProfilePicture alt=""></figure>
                                                            <div class="notifi-meta">
                                                                <p>@notification.NotificationTitle</p>
                                                                <span>@notification.NotificationSenderUser.UserFirstName @notification.NotificationSenderUser.UserLastName </span>
                                                            </div>
                                                        </a>
                                                        <div style="display:inline-block; float:right;">
                                                            <button class="btn">Kabul Et</button>
                                                            <button class="btn">Reddet</button>
                                                        </div>
                                                    </li>
                                                }

                                            }


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- centerl meta -->
                        <div class="col-lg-3">
                            <aside class="sidebar static">

                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>