@model List<PostViewModel>
@{
    ViewData["Title"] = "MyPhotos";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}



<!--Profile Top Nav-->
<vc:profile-nav></vc:profile-nav>
<!--Profile Top Nav-->

<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <!--ShortCuts-->
                                <partial name="ShortCutsPartialView" />
                                <!--ShortCuts-->

                               

                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-6">
                            <div class="central-meta">
                                <ul class="photos">
                                    @if (Model == null || !Model.Any())
                                    {
                                        <h3>Hiç Fotoğraf Paylaşılmamış..</h3>
                                    }
                                    else
                                    {


                                        @foreach (var photo in Model)
                                        {

                                            <li>
                                                <a class="strip" href="@photo.PostImageUrl" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
                                                    <img src="@photo.PostImageUrl" alt="">
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                                <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
                            </div><!-- photos -->
                        </div><!-- centerl meta -->
                        @* <vc:friends-list></vc:friends-list> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>