
@{
    ViewData["Title"] = "MyPhotos";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}



<!--Profile Top Nav-->
<partial name="ProfileNavPartialView" />
<!--Profile Top Nav-->

<section>
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="row" id="page-contents">
						<div class="col-lg-3">
							<aside class="sidebar static">
								<div class="widget">
									<h4 class="widget-title">Shortcuts</h4>
									<ul class="naves">
										<li>
											<i class="ti-clipboard"></i>
											<a href="newsfeed.html" title="">News feed</a>
										</li>
										<li>
											<i class="ti-mouse-alt"></i>
											<a href="inbox.html" title="">Inbox</a>
										</li>
										<li>
											<i class="ti-files"></i>
											<a href="fav-page.html" title="">My pages</a>
										</li>
										<li>
											<i class="ti-user"></i>
											<a href="timeline-friends.html" title="">friends</a>
										</li>
										<li>
											<i class="ti-image"></i>
											<a href="timeline-photos.html" title="">images</a>
										</li>
										<li>
											<i class="ti-video-camera"></i>
											<a href="timeline-videos.html" title="">videos</a>
										</li>
										<li>
											<i class="ti-comments-smiley"></i>
											<a href="messages.html" title="">Messages</a>
										</li>
										<li>
											<i class="ti-bell"></i>
											<a href="notifications.html" title="">Notifications</a>
										</li>
										<li>
											<i class="ti-share"></i>
											<a href="people-nearby.html" title="">People Nearby</a>
										</li>
										<li>
											<i class="fa fa-bar-chart-o"></i>
											<a href="insights.html" title="">insights</a>
										</li>
										<li>
											<i class="ti-power-off"></i>
											<a href="landing.html" title="">Logout</a>
										</li>
									</ul>
								</div><!-- Shortcuts -->
								<div class="widget">
									<h4 class="widget-title">Profile intro</h4>
									<ul class="short-profile">
										<li>
											<span>about</span>
											<p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft company. </p>
										</li>
										<li>
											<span>fav tv show</span>
											<p>Sacred Games, Spartcus Blood, Games of theron</p>
										</li>
										<li>
											<span>favourit music</span>
											<p>Justin Biber, Nati Natsha, Shakira</p>
										</li>
									</ul>
								</div><!-- profile intro widget -->

							</aside>
						</div><!-- sidebar -->
						<div class="col-lg-6">
							<div class="central-meta">
								<ul class="photos">

									<li>
										<a class="strip" href="~/SocialUI/images/resources/photo-22.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="~/SocialUI/images/resources/photo2.jpg" alt="">
										</a>
									</li>
									<li>
										<a class="strip" href="~/SocialUI/images/resources/photo-33.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="~/SocialUI/images/resources/photo3.jpg" alt="">
										</a>
									</li>
									<li>
										<a class="strip" href="~/SocialUI/images/resources/photo-44.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="~/SocialUI/images/resources/photo4.jpg" alt="">
										</a>
									</li>
									<li>
										<a class="strip" href="~/SocialUI/images/resources/photo-55.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="~/SocialUI/images/resources/photo5.jpg" alt="">
										</a>
									</li>

									<li>
										<a class="strip" href="~/SocialUI/images/resources/photo-66.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="images/resources/photo6.jpg" alt="">
										</a>
									</li>
									<li>
										<a class="strip" href="~/SocialUI/images/resources/photo-77.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="images/resources/photo7.jpg" alt="">
										</a>
									</li>
									<li>
										<a class="strip" href="~/SocialUI/images/resources/photo-88.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="images/resources/photo8.jpg" alt="">
										</a>
									</li>

									<li>
										<a class="strip" href="images/resources/photo-99.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="images/resources/photo12.jpg" alt="">
										</a>
									</li>
									<li>
										<a class="strip" href="images/resources/photo-101.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="images/resources/photo10.jpg" alt="">
										</a>
									</li>
									<li>
										<a class="strip" href="images/resources/photo-101.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="images/resources/photo11.jpg" alt="">
										</a>
									</li>
									<li>
										<a class="strip" href="images/resources/photo-22.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="images/resources/photo1.jpg" alt="">
										</a>
									</li>
									<li>
										<a class="strip" href="images/resources/photo-33.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="images/resources/photo9.jpg" alt="">
										</a>
									</li>
									<li>
										<a class="strip" href="images/resources/photo-99.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="images/resources/photo12.jpg" alt="">
										</a>
									</li>
									<li>
										<a class="strip" href="images/resources/photo-66.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="images/resources/photo6.jpg" alt="">
										</a>
									</li>
									<li>
										<a class="strip" href="images/resources/photo-66.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="images/resources/photo13.jpg" alt="">
										</a>
									</li>
								</ul>
								<div class="lodmore"><button class="btn-view btn-load-more"></button></div>
							</div><!-- photos -->
						</div><!-- centerl meta -->
						<div class="col-lg-3">
							<aside class="sidebar static">
								
								<div class="widget friend-list stick-widget">
									<h4 class="widget-title">Friends</h4>
									<div id="searchDir"></div>
									<ul id="people-list" class="friendz-list">
										<li>
											<figure>
												<img src="images/resources/friend-avatar.jpg" alt="">
												<span class="status f-online"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">bucky barnes</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="36415f5842534445595a52534476515b575f5a1855595b">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>
											<figure>
												<img src="images/resources/friend-avatar2.jpg" alt="">
												<span class="status f-away"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">Sarah Loren</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="741615061a1107341319151d185a171b19">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>
											<figure>
												<img src="images/resources/friend-avatar3.jpg" alt="">
												<span class="status f-off"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">jason borne</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3852594b57565a785f55595154165b5755">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>
											<figure>
												<img src="images/resources/friend-avatar4.jpg" alt="">
												<span class="status f-off"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">Cameron diaz</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="761c170519181436111b171f1a5815191b">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>

											<figure>
												<img src="images/resources/friend-avatar5.jpg" alt="">
												<span class="status f-online"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">daniel warber</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6a000b190504082a0d070b030644090507">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>

											<figure>
												<img src="images/resources/friend-avatar6.jpg" alt="">
												<span class="status f-away"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">andrew</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5c363d2f33323e1c3b313d3530723f3331">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>

											<figure>
												<img src="images/resources/friend-avatar7.jpg" alt="">
												<span class="status f-off"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">amy watson</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c3a9a2b0acada183a4aea2aaafeda0acae">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>

											<figure>
												<img src="images/resources/friend-avatar5.jpg" alt="">
												<span class="status f-online"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">daniel warber</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e08a81938f8e82a0878d81898cce838f8d">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>

											<figure>
												<img src="images/resources/friend-avatar2.jpg" alt="">
												<span class="status f-away"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">Sarah Loren</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="781a190a161d0b381f15191114561b1715">[email&#160;protected]</a></i>
											</div>
										</li>
									</ul>
									<div class="chat-box">
										<div class="chat-head">
											<span class="status f-online"></span>
											<h6>Bucky Barnes</h6>
											<div class="more">
												<span><i class="ti-more-alt"></i></span>
												<span class="close-mesage"><i class="ti-close"></i></span>
											</div>
										</div>
										<div class="chat-list">
											<ul>
												<li class="me">
													<div class="chat-thumb"><img src="images/resources/chatlist1.jpg" alt=""></div>
													<div class="notification-event">
														<span class="chat-message-item">
															Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
														</span>
														<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
													</div>
												</li>
												<li class="you">
													<div class="chat-thumb"><img src="images/resources/chatlist2.jpg" alt=""></div>
													<div class="notification-event">
														<span class="chat-message-item">
															Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
														</span>
														<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
													</div>
												</li>
												<li class="me">
													<div class="chat-thumb"><img src="images/resources/chatlist1.jpg" alt=""></div>
													<div class="notification-event">
														<span class="chat-message-item">
															Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
														</span>
														<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
													</div>
												</li>
											</ul>
											<form class="text-box">
												<textarea placeholder="Post enter to post..."></textarea>
												<div class="add-smiles">
													<span title="add icon" class="em em-expressionless"></span>
												</div>
												<div class="smiles-bunch">
													<i class="em em---1"></i>
													<i class="em em-smiley"></i>
													<i class="em em-anguished"></i>
													<i class="em em-laughing"></i>
													<i class="em em-angry"></i>
													<i class="em em-astonished"></i>
													<i class="em em-blush"></i>
													<i class="em em-disappointed"></i>
													<i class="em em-worried"></i>
													<i class="em em-kissing_heart"></i>
													<i class="em em-rage"></i>
													<i class="em em-stuck_out_tongue"></i>
												</div>
												<button type="submit"></button>
											</form>
										</div>
									</div>
								</div><!-- friends list sidebar -->

							</aside>
						</div><!-- sidebar -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>