@model ProfileViewModel
@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<!--Profile Top Nav-->
<vc:profile-nav></vc:profile-nav>
<!--Profile Top Nav-->


<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <div class="widget">
                                    <h4 class="widget-title">Socials</h4>
                                    <ul class="socials">
                                        @foreach (var item in Model.User.SocialMediaAccounts)
                                        {
                                            if (item.SocialMediaAccountName == "Facebook")
                                            {
                                                <li class="facebook">
                                                    <a title="" href="#"><i class="fa fa-facebook"></i> <span>facebook</span> </a>
                                                </li>
                                            }
                                            else if (item.SocialMediaAccountName == "Google")
                                            {
                                                <li class="google">
                                                    <a title="" href="#"><i class="fa fa-facebook"></i> <span>google</span> </a>
                                                </li>
                                            }
                                            else if (item.SocialMediaAccountName == "Twitter")
                                            {
                                                <li class="twitter">
                                                    <a title="" href="#"><i class="fa fa-facebook"></i> <span>twitter</span> </a>
                                                </li>
                                            }

                                        }

                                    </ul>
                                </div>
                                <!--ShortCuts-->
                                <partial name="ShortCutsPartialView" />
                                <!--ShortCuts-->


                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-6">
                            <div class="loadMore">
                                <vc:new-post></vc:new-post>     <!-- Yeni post paylaşma view componenti -->
                                @{
                                    HomeAndMessageViewModel post = new HomeAndMessageViewModel();
                                    post.HomeViewModel = new HomeViewModel()
            {
                PostDtos = Model.Posts
            };


                                }
                                @await Html.PartialAsync("PostsPartialView", post)

                            </div>
                        </div><!-- centerl meta -->
                        <div class="col-lg-3">
                            <aside class="sidebar static">

                                <div class="widget friend-list stick-widget">
                                    <h4 class="widget-title">Arkadaşlar</h4>
                                    <div id="searchDir"></div>
                                    <ul id="people-list" class="friendz-list">

                                        @foreach (var friend in Model.Friends)
                                        {
                                            <li onclick="goto(@friend.Friend.UserId)">
                                                <figure>
                                                    <img src=@friend.Friend.UserProfilePicture alt="">
                                                    <span class="status f-@(friend.Friend.UserIsOnline?"online":"off")"></span>
                                                </figure>
                                                <div class="friendz-meta">
                                                    <a href="time-line.html">@friend.Friend.UserFirstName @friend.Friend.UserLastName</a>

                                                </div>
                                            </li>

                                        }


                                    </ul>
                              
                                </div><!-- friends list sidebar -->
                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        document.getElementById('profilePhotoFileInput').addEventListener('change', function () {
            document.getElementById('profilePhoto').submit();
        });
        function goto(id){
            window.location.href = "https://localhost:7184/Profile/OtherProfile/" + id;
        }
       
    </script>
}