@model List<PostViewModel>
@{
    ViewData["Title"] = "MyVideos";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!--Profile Top Nav-->
<vc:profile-nav></vc:profile-nav>
<!--Profile Top Nav-->

<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <!--ShortCuts-->
                                <partial name="ShortCutsPartialView" />
                                <!--ShortCuts-->

                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-6">
                            <div class="central-meta">
                                <ul class="photos">
                                    @if (Model== null)
                                    {
                                     
                                            <h3>Hiç Vieo Paylaşılmamış..</h3>
                                      
                                    }
                                    else
                                    {


                                        @foreach (var post in Model)
                                        {
                                            <li>
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <video width="770" controls>
                                                        <source src="@post.PostVideoUrl" type="video/mp4">
                                                    </video>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                                <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
                            </div><!-- photos -->
                        </div><!-- centerl meta -->
                        <div class="col-lg-3">
                            <aside class="sidebar static">


                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
