@model UserViewModel
@{
    ViewData["Title"] = "OtherPhotos";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

@{
    FriendsViewModel statusFriend = Model.Friends.FirstOrDefault(x => x.FriendsUserId == ViewBag.UserId);
}


<partial name="OtherProfileCoverPartialView" model="@Model" />

@if (!Model.UserPrivacySettings.PrivacySettingsHiddenProfile || statusFriend?.FriendsStatus == "approved")
{

    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <!--ShortCuts-->
                                    <partial name="ShortCutsPartialView" />
                                    <!--ShortCuts-->



                                </aside>
                            </div><!-- sidebar -->
                            <div class="col-lg-6">
                                <div class="central-meta">
                                    <ul class="photos">
                                        @if (Model.Posts.Where(x => x.PostType == "Image").Count() < 1)
                                        {
                                            <div class="central-meta">
                                                <div class="new-postbox text-center">
                                                    <h2>Henüz hiçbir şey paylaşılmamış..</h2>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {


                                            @foreach (var photo in Model.Posts)
                                            {
                                                if (photo.PostType == "Image")
                                                {


                                                    <li>
                                                        <a class="strip" href="@photo.PostImageUrl" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
                                                            <img src="@photo.PostImageUrl" alt="">
                                                        </a>
                                                    </li>
                                                }

                                            }
                                        }
                                    </ul>
                                    <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
                                </div><!-- photos -->
                            </div><!-- centerl meta -->
                            @* <vc:friends-list></vc:friends-list> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="central-meta item">
        <div class="user-post">
            <div class="friend-info text-center">

                <h3>Profilim şu anda gizli, sadece arkadaşlarım içeriklerimi görebilir. Eğer arkadaşlarımdan biri değilsen, istek göndermeyi deneyebilirsin.</h3>

            </div>

        </div>
    </div>
}
