@model UserViewModel
@{
    ViewData["Title"] = "OtherVideos";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

@{
    FriendsViewModel statusFriend = Model.Friends.FirstOrDefault(x => x.FriendsUserId == ViewBag.UserId);
}


<partial name="OtherProfileCoverPartialView" model="@Model" />
@if (!Model.UserPrivacySettings.PrivacySettingsHiddenProfile || statusFriend?.FriendsStatus == "approved")
{
<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <!--ShortCuts-->
                                <partial name="ShortCutsPartialView" />
                                <!--ShortCuts-->

                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-6">
                            <div class="central-meta">
                                <ul class="photos">
                                    @if (Model.Posts.Where(x=>x.PostType=="Video").Count() < 1)
                                    {

                                        <h3>Hiç Vieo Paylaşılmamış..</h3>

                                    }
                                    else
                                    {


                                        @foreach (var post in Model.Posts)
                                        {
                                            if (post.PostType == "Video")
                                            {


                                                <li>
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <video width="770" controls>
                                                            <source src="@post.PostVideoUrl" type="video/mp4">
                                                        </video>
                                                    </div>
                                                </li>
                                            }
                                           

                                        }
                                    }
                                </ul>
                                <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
                            </div><!-- photos -->
                        </div><!-- centerl meta -->
                        <div class="col-lg-3">
                            <aside class="sidebar static">


                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}
else
{
    <div class="central-meta item">
        <div class="user-post">
            <div class="friend-info text-center">

                <h3>Profilim şu anda gizli, sadece arkadaşlarım içeriklerimi görebilir. Eğer arkadaşlarımdan biri değilsen, istek göndermeyi deneyebilirsin.</h3>

            </div>

        </div>
    </div>
}
