@model UserViewModel
@{
    ViewData["Title"] = "OtherProfile";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


@{
    FriendsViewModel statusFriend = Model.Friends.FirstOrDefault(x => x.FriendsUserId == ViewBag.UserId);
}


<partial name="OtherProfileCoverPartialView" model="@Model" />


@if (!Model.UserPrivacySettings.PrivacySettingsHiddenProfile || statusFriend?.FriendsStatus == "approved")
{

    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget">
                                        <h4 class="widget-title">Socials</h4>
                                        <ul class="socials">
                                            @foreach (var item in Model.SocialMediaAccounts)
                                            {
                                                if (item.SocialMediaAccountName == "Facebook")
                                                {
                                                    <li class="facebook">
                                                        <a title="" href="#"><i class="fa fa-facebook"></i> <span>facebook</span> </a>
                                                    </li>
                                                }
                                                else if (item.SocialMediaAccountName == "Google")
                                                {
                                                    <li class="google">
                                                        <a title="" href="#"><i class="fa fa-facebook"></i> <span>google</span> </a>
                                                    </li>
                                                }
                                                else if (item.SocialMediaAccountName == "Twitter")
                                                {
                                                    <li class="twitter">
                                                        <a title="" href="#"><i class="fa fa-facebook"></i> <span>twitter</span> </a>
                                                    </li>
                                                }


                                            }

                                        </ul>
                                    </div>
                                    <!--ShortCuts-->
                                    <partial name="ShortCutsPartialView" />
                                    <!--ShortCuts-->


                                </aside>
                            </div><!-- sidebar -->
                            <div class="col-lg-6">
                                <div class="loadMore">

                                    @{
                                        HomeAndMessageViewModel post = new HomeAndMessageViewModel();
                                        post.HomeViewModel = new HomeViewModel()
                {
                    PostDtos = Model.Posts
                };


                                    }
                                    @await Html.PartialAsync("PostsPartialView", post)

                                </div>
                            </div><!-- centerl meta -->
                            <div class="col-lg-3">
                                <aside class="sidebar static">

                                </aside>
                            </div><!-- sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="central-meta item">
        <div class="user-post">
            <div class="friend-info text-center">

                <h3>Profilim şu anda gizli, sadece arkadaşlarım içeriklerimi görebilir. Eğer arkadaşlarımdan biri değilsen, istek göndermeyi deneyebilirsin.</h3>
              
            </div>
     
        </div>
    </div>
}
@section Scripts {
   
}