@model List<NotificationViewModel>



<script>
    var token = '@ViewBag.token';
    var noti = @Html.Raw(Json.Serialize(Model));
</script>

<ul class="setting-area">
    <li><a href="newsfeed.html" title="Home" data-ripple=""><i class="ti-home"></i></a></li>
    <li>
        <a href="#" title="Notification" data-ripple="">
            <i class="ti-bell"></i><span id="notifiCount"></span>
        </a>
        <div class="dropdowns">
            <span id="notifiCountText"></span>
            <ul class="drops-menu" id="notificationList">
                
                
            </ul>
            <a href="/Profile/MyNotifications" title="" class="more-mesg">Hepsini Gör</a>
        </div>
    </li>
    <li>
        <a href="#" title="Messages" data-ripple=""><i class="ti-comment"></i><span>12</span></a>
        <div class="dropdowns">
            <span>5 Yeni Mesaj</span>
            <ul class="drops-menu" id="messagesList">
               
            </ul>
            <a href="messages.html" title="" class="more-mesg">Hepsini Gör</a>
        </div>
    </li>


</ul>

