@model List<NotificationViewModel>



<script>
    var token = '@ViewBag.token';
    var noti = @Html.Raw(Json.Serialize(Model));
</script>

<ul class="setting-area">
    <li><a href="#" onclick="homebutton(); return false;" title="Home" data-ripple=""><i class="ti-home"></i></a></li>
    <li>
        <a href="#" title="Notification" data-ripple="" onclick="deleteNotification(); return false;">
            <i class="ti-bell"></i><span id="notifiCount"></span>
        </a>
        <div class="dropdowns">
            <span id="notifiCountText"></span>
            <ul class="drops-menu" id="notificationList">
                
                
            </ul>
            <a href="/Profile/MyNotifications" title="" class="more-mesg" onclick="notification()">Hepsini Gör</a>
        </div>
    </li>
</ul>

