@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div id="connectionState">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Mesaj :</label>
            <input type="text" class="form-control" id="txtName" placeholder="">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Mesaj :</label>
            <input type="text" class="form-control" id="txtMessage" placeholder="">
        </div>
        <hr />
        <button class="btn btn-primary" id="btnSenderName">Gönder</button>
        <hr />
        <div class="clearfix"></div>
        <div class="col-md-8">
            <ul class="list-group" id="listName">
            </ul>
            <p>@ViewBag.token</p>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script>
        "use strict";


        var jwtToken = '@ViewBag.token'      
       
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("https://localhost:7091/MessageHub", {
                accessTokenFactory: () => jwtToken
            })
            .build();

        function ShowConnectionState() {
            $('#connectionState').html(`<div class="alert alert-success">Bağlantı Durumu : ${connection.connectionId} </div>`);

        }

        connection.on("ReceivePrivateMessage", (senderUserId, message) => {
            // Gelen özel mesajı işleyin
            console.log("bağlantı açık");         
            $('#listName').append(`
                    <li class="list-group-item">${senderUserId}: ${message}</li>`);
        });

        connection.start().then(() => {
            ShowConnectionState();
            console.log("Bağlantı kimliği:", connection.connectionId);


        }).catch((err) => {
            ShowConnectionState();
            console.log('Hata:', err.toString());
        });
        $('#btnSenderName').click(() => {
            connection.invoke("SendName", $('#txtName').val(), $('#txtMessage').val());
        })

    </script>
}