#videoThumbOverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Karanlýk bir arka plan eklemek için */
    color: white; /* Yazý rengi */
    justify-content: center;
    align-items: center;
}

#videoThumbContainer:hover #videoThumbOverlay {
    display: flex;
}

#videoThumbOverlay i {
    font-size: 20px;
}
