@model PostViewModel

<div class="central-meta">
	<div class="new-postbox">
		<figure>
			<img src="images/resources/admin2.jpg" alt="">
		</figure>
		<div class="newpst-input">
            <!-- HTML dosyası -->
            <form asp-controller="Post" asp-action="AddPost" method="post" enctype="multipart/form-data" id="postForm">
                <textarea rows="2" asp-for="PostTextContent" placeholder="write something"></textarea>
                <div class="attachments">
                    <ul>
                        <li>
                            <label class="fileContainer">
                                <input type="text" style="display:none; width:270px;" id="youtube-input" placeholder="YouTube Linki Girin" asp-for="PostYoutubeUrl">
                            </label>
                            <i class="fa fa-youtube fa-lg" style="color:#088dcd; margin-right:10px;" onclick="youtube()"></i>
                        </li>
                        <li>
                            <i class="fa fa-image fa-lg" style="color:#088dcd;"></i>
                            <label class="fileContainer">
                                <input type="file" asp-for="PostImageUrl" name="formFile">
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-video-camera fa-lg" style="color:#088dcd;"></i>
                            <label class="fileContainer">
                                <input type="file" asp-for="PostVideoUrl" name="formFile2" id="fileInput">
                            </label>
                            <div id="uploadAnimation" style="display: none;">Yükleniyor...</div>
                        </li>
                        <li>
                            <button type="submit" id="postButton" disabled>Post</button>
                        </li>
                    </ul>
                </div>
            </form>
		</div>
	</div>
</div><!-- add post new box -->


<script>
	function youtube(){
		var input = document.getElementById("youtube-input");
		if (input.style.display === "none"){
			input.style.display = "block";
		}
		else{
			input.style.display = "none";
		}
	}
    document.getElementById('fileInput').addEventListener('change', function () {
        var uploadAnimation = document.getElementById('uploadAnimation');
        var postButton = document.getElementById('postButton');

        // Dosya yükleme simülasyonu (Gerçek bir yükleme işlemi için sunucu tarafı kodu eklenmelidir)
        uploadAnimation.style.display = 'block';
        setTimeout(function () {
            uploadAnimation.style.display = 'none';
            postButton.removeAttribute('disabled');
        }, 2000); // 2 saniye sonra simülasyonu tamamla
    });
</script>