@model PostViewModel

<div class="central-meta">
	<div class="new-postbox">
		<figure>
			<img src="images/resources/admin2.jpg" alt="">
		</figure>
		<div class="newpst-input">
			<form asp-controller="Post" asp-action="AddPost" method="post">
				<textarea rows="2" asp-for="PostTextContent" placeholder="write something"></textarea>
				<div class="attachments">
					<ul>
						<li>
							<i class="fa fa-youtube fa-lg" style="color:#FF0000;"></i>
							<label class="fileContainer">
								<input type="file">
							</label>
						</li>
						<li>
							<i class="fa fa-image fa-lg" style="color:#088dcd;"></i>
							<label class="fileContainer">
								<input type="file">
							</label>
						</li>
						<li>
							<i class="fa fa-video-camera fa-lg" style="color:#088dcd;"></i>
							<label class="fileContainer">
								<input type="file">
							</label>
						</li>
						<li>
							<button type="submit">Post</button>
						</li>
					</ul>
				</div>
			</form>
		</div>
	</div>
</div><!-- add post new box -->